<?xml version="1.0"?>
<launch>
  <group ns="red">
    <include file="$(find qforge_ros)/launch/state_machine.launch"/>
    <include file="$(find qforge_ros)/launch/navigator.launch"/>
    <include file="$(find qforge_ros)/launch/ball_launch.launch"/>
    <include file="$(find qforge_ros)/launch/ar_tag.launch"/>
    <include file="$(find qforge_ros)/launch/search_routine.launch"/>
    <include file="$(find qforge_ros)/launch/local_planner_depth-camera.launch"/>
  </group>
</launch>
