<?xml version="1.0"?>
<launch>
    <group ns="red">
        <node name="xo" pkg="qforge_ros" type="xo.py"/>
        <node name="launch_start_server" pkg="qforge_ros" type="launch_start_server.py"/>
        <node name="launch_maneuver_server" pkg="qforge_ros" type="launch_maneuver_server.py"/>
        <node name="launch_sight_server" pkg="qforge_ros" type="launch_sight_server.py"/>
        <node name="launch_gunner" pkg="qforge_ros" type="launch_gunner.py"/>
    </group>
</launch>
